/* header  */
*{
  box-sizing: border-box ;
}

.navbar_box{
  display:flex;
  justify-content: space-between;
  margin-top:20px;
  border-bottom: 1px solid var(--color-line-gray);
}
.navbar_logo_container{
  display:flex;
  flex-direction: column;
  margin-left: 20px;
}
.navbar_logo_title{
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.7px;
  color:var(--color-gray);
}
.navbar_logo_subtext{
  font-size: 0.8rem;
  letter-spacing: 5px;
}
.navbar_items{
  display:flex;
  justify-content: space-around;
  margin-right:30px;

}
.navbar_item{
  padding:5px 20px;
  margin : auto 0;
 
}
.navbar_item:hover{
  color:gray;
}
.red_bubble{
  position:absolute;
  top:13px;
  right: 7px;
  background-color:var(--color-red);
  color:var(--color-white);
  padding:5px 10px;
  border-radius: 30px;
  font-size:.7rem;
  font-weight: 700;
}