
*{
  box-sizing: border-box ;
}
.bold_text{
  font-weight: 700;
}
.right_text{
  text-align: right;
}
/* Header  */
.navbar_container{
  position:fixed;
  width:100%;
  z-index: 1;
}
.navbar_box{
  /* position:fixed */
  display:flex;
  justify-content: space-between;
  margin-top:20px;
  padding-bottom: 10px;
  
  /* border-bottom: 1px solid var(--color-line-gray); */
}
.navbar_logo_container{
  display:flex;
  flex-direction: column;
  margin-left: 20px;
}
.navbar_logo_title{
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.7px;
  /* color:var(--color-white); */
}
.navbar_logo_subtext{
  font-size: 0.8rem;
  letter-spacing: 5px;
  margin-top:-5px;
  margin-left:2px;
  color:rgb(68, 68, 68);
}
.navbar_items{
  display:flex;
  justify-content: space-around;
  margin-right:20px;

}
.navbar_item{
  padding:5px 10px;
  margin : auto 0;
}
.navbar_item.contact{
  background-color: var(--color-white);
  border-radius: 20px;
  -webkit-box-shadow: 14px 13px 31px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 13px 31px -24px rgba(0,0,0,0.75);
  box-shadow: var(--shadow-1);
}

.navbar_item.contact::after{
 
  content:"Event";
 
  background-color:var(--color-red);
  color:var(--color-white);
  padding:5px 10px;
  border-radius: 30px;
  font-size:.7rem;
  font-weight: 700;
  position:relative;
  top:-10px;
  left:5px

}
.navbar_item:hover{
  color:gray;
}
/* .red_bubble{
  position:absolute;
  top:13px;
  right: 7px;
  background-color:var(--color-red);
  color:var(--color-white);
  padding:5px 10px;
  border-radius: 30px;
  font-size:.7rem;
  font-weight: 700;
 
} */

/* Section */

/* .section{
  min-height: 400px;
} */
.section.first{
/* background: rgb(126,122,185); */
background: var(--gradient-main);
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
height:400px;
}
/* .section_first_img_container{
  position: relative;
} */
.section_first_img{
  margin-top:20px;
  width:250px;
  animation: rotate 5s infinite alternate ease-in-out; /* 회전 애니메이션 적용 */
  transform-style: preserve-3d; /* 3D 변환을 유지 */
  filter: brightness(1);
}
.section_first_text{
  margin: 10px auto;
  font-size: 0.8rem;
  font-weight: 300;

}
/* 대문 로고 로테이션 효과 */
@keyframes rotate {
  from {
    transform: perspective(350px) rotateY(-10deg);
  }
  to {
    transform: perspective(350px) rotateY(10deg);
  }
}

/* Shape Divider */
.custom-shape-divider-bottom-1721098286 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1721098286 svg {
  position: relative;
  display: block;
  width: calc(216% + 1.3px);
  height: 42px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1721098286 .shape-fill {
  fill: #FFFFFF;
}

/* Section Second */
.section.second{
  background-color:white;
  font-family: 'noto sans';
  font-weight: 300;
  color:var(--color-gray);
  max-width: 500px;
  margin:40px auto;
  margin-bottom: 80px;
  padding:0 10px;

}

.section_second_p{
  margin-top: 30px;
  margin-bottom: 30px;
  /* overflow-wrap:break-word; */
}



/* Section third */

.section.third{
  background-color:white;
}
.section_third_img_container{
  margin-top:0;
  height: 200px;
  /* width:100vw; */
  background-image: url("/public/section_3_img1.jpg");
  background-size:contain; /* 배경 이미지가 컨테이너에 맞게 조정됨 */
  background-repeat: no-repeat; /* 배경 이미지가 반복되지 않음 */
}

/* Section 4 */
.section_4_container{
  max-width: 1000px;
  margin:0 auto;
}
.section_4_title{
  font-size: 1.7rem;;
  font-family: 'noto sans';
  font-weight: 400;
  text-align: center;
  border-bottom: var(--dotted-line);
  color:var(--color-black);
  border-radius: 15px 15px 0  0;
  padding-bottom: 10px;
  margin:0 20px;
  /* background-color:var(--color-gray-bright); */
  /* background: var(--gradient-main); */
  
}
.section_4_lists{
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  border-bottom: var(--dotted-line);
  
}
.section_4_list{
  text-align: center;
}
.section_4_h4{
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-line-gray);
}
.section_4_list_item{
  width:100%;
  color:var(--color-gray);
}
/* g2g projects section */
.section_g2g_projects{
  position: relative;
}


.g2g_projects_h1{
  
  font-size: 1.7rem;;
  font-family: 'noto sans';
  font-weight: 400;
  text-align: center;
  border-bottom: var(--dotted-line);
  color:var(--color-black);
  border-radius: 15px 15px 0  0;
  padding-bottom: 20px;
  margin: 30px 0;
}
.g2g_projects_container{
  overflow: hidden;
}

.g2g_projects_box{
  position:relative;
  margin:30px 0;
  padding:50px 30px;
  display:flex;
  justify-content: space-between;
  gap:20px;
  white-space: nowrap;
  
  overflow-x: auto;
  scroll-behavior: smooth;
}

.scroll_button_container{
  position:absolute;
  width:100vw;
 top:50%;
 
}
.scroll_button{
  margin:0 20px;
  font-size: 5rem;
  font-weight: 700;
  opacity: 30%;
  cursor:pointer;
  z-index: 1;
}
.scroll_button:hover{
  opacity:70%;
}

.scroll_button_box{
  display:flex;
  justify-content: space-between;
  align-items: center;
}


/* Card Box */

.card_container{
  flex: 0 0 auto;
  background-color: var(--color-white);
  border-radius: 15px;
  width:300px;
  height:300px;
  box-shadow: var(--shadow-2);
}
.card_container:hover{
  transform: scale(103%);
  transition: all 0.5s;
}


/* Footer */

footer{
  /* background: var(--gradient-main); */
}
.footer_box{
  width: 90vw;
  height:100px;
  margin:0 auto;
  
  border-top:1px solid var(--color-gray-bright)
}


/* Responsible screen size  */

@media screen and (max-width:600px){
  .section_first_img{
    width:200px;
  }
}
@media  screen and (max-width:478px) {
  .navbar_item{
    padding:5px 5px;
  }

  .red_bubble{
    font-size: 0.5rem;
  }
  .custom-shape-divider-bottom-1721098286.divider{
    display: none;
  }
  .section_third_img_container{
    height:70px;
  }
 

}
@media screen and (max-width:337px) {
  .navbar_logo_subtext{
    font-size:0.5rem;
  }
}
@media screen and (max-width:900px) {
  .section_third_img_container{
    height:120px;
  }
}


/* Footer */

.footer_box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:var(--color-gray)
}
.footer_contact{
  letter-spacing: 3px;
  font-weight: 500;
  padding:10px 0;
}
.last_text{
  font-size: .9rem;
  margin-top: 20px;
  margin-bottom: 20px;
}




/* event top box */

.event_container{
  position:relative;
  background-color: beige;
  display: flex;
  justify-content: center;
}
.event_text{
  /* border-radius: 30px;
  background-color: pink;
  border-bottom: 3px solid red;
  padding:3px 10px; */
  
}


